[Desktop Entry]
Version=1.0
Name=System Installer
Comment=Install ArchLingmo using Calamares
Exec=sudo -E calamares
Icon=calamares
Terminal=false
Type=Application
Categories=System;
